html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

footer small {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.wrap, section:not(.block-1) {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto; }
  .wrap:after, section:not(.block-1):after {
    content: "";
    display: table;
    clear: both; }

footer small {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@-moz-keyframes hovering {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

  50% {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes hovering {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

  50% {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-o-keyframes hovering {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

  50% {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-ms-keyframes hovering {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

  50% {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-khtml-keyframes hovering {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

  50% {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@keyframes hovering {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

  50% {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-khtml-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
html {
  -webkit-animation: fadeIn 0.33s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: fadeIn 0.33s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: fadeIn 0.33s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

body {
  color: white;
  font-family: "GT Walsheim", Karla, "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  margin-bottom: 9.6em;
  min-height: 100%;
  height: 100%; }

h1, .h1, h2, .h2, h3, .h3, h4, h5, h6 {
  font-family: "GT Walsheim", Karla, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h5, h6 {
  font-family: "GT Walsheim", Karla, "Helvetica Neue", Arial, sans-serif; }

h1, .h1 {
  font-size: 61px;
  line-height: 1.11475em;
  margin-bottom: 3rem;
  font-weight: 500; }

h2, .h2 {
  font-size: 49px;
  line-height: 1.22449em;
  margin-bottom: 1.5rem;
  font-weight: 500; }

h3, .h3 {
  font-size: 39px;
  line-height: 1.33333em;
  margin-bottom: 1.25rem;
  font-weight: 500; }

h4, .h4 {
  font-size: 31px;
  line-height: 1.41935em;
  margin-bottom: 1rem; }

h5, .h5 {
  font-size: 25px;
  line-height: 1.36em;
  margin-bottom: .5rem; }

h6, .h6, header[role="main-header"] nav a {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 0; }

a[data="disabled"] {
  pointer-events: none;
  cursor: default; }

p + p {
  margin-top: 1.5em; }

a {
  color: white;
  -webkit-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background: -webkit-linear-gradient(white, white), -webkit-linear-gradient(white, white), -webkit-linear-gradient(white, white);
  background-size: 0.04em 1px, 0.04em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.04em 0 #ccbfb4, -0.04em 0 #ccbfb4, 0 0.04em #ccbfb4, 0 -0.06em #ccbfb4, 0.08em 0 #ccbfb4, -0.08em 0 #ccbfb4, 0.08em 0 #ccbfb4, -0.1em 0 #ccbfb4, 0.12em 0 #ccbfb4, -0.12em 0 #ccbfb4, 0.14em 0 #ccbfb4, -0.14em 0 #ccbfb4;
  background-position-y: 96%, 96%, 96%;
  background-position-x: 0%, 100%, 0%; }
  a:hover {
    color: #e6e6e6;
    -webkit-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

p {
  margin-bottom: 1.5em; }

p.caption {
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
  font-size: 20px;
  margin-bottom: .75em;
  line-height: 1.25em; }

hr {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 2px;
  border: none;
  background: white;
  margin: 0 auto; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted white;
  cursor: help; }

ul {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }
  ul:after {
    content: "";
    display: table;
    clear: both; }
  ul li {
    list-style-type: disc;
    margin: 0.75em 0; }

ul.column-1 li {
  float: left;
  display: block;
  margin-right: 1.65746%;
  width: 100%; }
  ul.column-1 li:last-child {
    margin-right: 0; }
  ul.column-1 li:nth-child(1) {
    margin-right: 0; }
  ul.column-1 li:nth-child(1+1) {
    clear: left; }

ul.column-2 li {
  float: left;
  display: block;
  margin-right: 1.65746%;
  width: 49.17127%; }
  ul.column-2 li:last-child {
    margin-right: 0; }
  ul.column-2 li:nth-child(2) {
    margin-right: 0; }
  ul.column-2 li:nth-child(2+1) {
    clear: left; }

ul.column-3 li {
  float: left;
  display: block;
  margin-right: 1.65746%;
  width: 32.22836%; }
  ul.column-3 li:last-child {
    margin-right: 0; }
  ul.column-3 li:nth-child(3) {
    margin-right: 0; }
  ul.column-3 li:nth-child(3+1) {
    clear: left; }

ul.column-4 li {
  float: left;
  display: block;
  margin-right: 1.65746%;
  width: 23.75691%; }
  ul.column-4 li:last-child {
    margin-right: 0; }
  ul.column-4 li:nth-child(4) {
    margin-right: 0; }
  ul.column-4 li:nth-child(4+1) {
    clear: left; }

ul.col-2 li {
  float: left;
  display: block;
  margin-right: 1.65746%;
  width: 49.17127%; }
  ul.col-2 li:last-child {
    margin-right: 0; }
  ul.col-2 li:nth-child(even) {
    margin-right: 0; }

address {
  display: block;
  margin: 0 0 0.75em; }

del {
  color: rgba(255, 255, 255, 0.67); }

blockquote {
  font-style: italic;
  margin: 1.5em 0;
  margin-left: 1.5em;
  padding-left: 1.5em; }

small {
  font-size: 16px;
  display: block;
  font-family: "Inconsolata", "Menlo", mono-spaced; }

em {
  font-style: italic; }

b {
  font-weight: bold;
  letter-spacing: -0.04em; }

cite {
  color: white;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

h6, .h6, header[role="main-header"] nav a {
  text-transform: uppercase; }

.wrap article > header {
  margin-top: 3em; }

/* Site Architecture */
.full {
  width: 100%;
  min-height: 1px;
  display: block; }
  .full:after {
    content: "";
    display: table;
    clear: both; }

.wrap article > header {
  margin-top: 3em; }

input[type="hidden"] {
  display: none; }

.hidden {
  display: none; }

#instantclick-bar {
  background: #35228a;
  height: 2px !important;
  position: absolute;
  top: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%;
  min-height: 100%;
  width: 100%;
  position: absolute;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }
  @media screen and (max-width: 50.0625em) {
    html {
      font-size: 16px; } }

body {
  min-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0 0 10rem;
  background: #ccbfb4;
  font-size: 1em; }

header[role="main-header"] {
  padding: 2.25rem 0;
  border-bottom: 2px solid white;
  display: block; }
  header[role="main-header"] nav ul {
    display: block;
    margin: 0 auto;
    text-align: center; }
    @media screen and (max-width: 480px) {
      header[role="main-header"] nav ul {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto; }
        header[role="main-header"] nav ul:after {
          content: "";
          display: table;
          clear: both; } }
    header[role="main-header"] nav ul li {
      display: inline-block;
      text-align: center;
      margin: 0 3rem; }
      @media screen and (max-width: 480px) {
        header[role="main-header"] nav ul li {
          margin: 0;
          float: left;
          display: block;
          margin-right: 2.22222%;
          width: 48.88889%;
          font-size: 0.75em; }
          header[role="main-header"] nav ul li:last-child {
            margin-right: 0; }
          header[role="main-header"] nav ul li:nth-child(2n) {
            margin-right: 0; }
          header[role="main-header"] nav ul li:nth-child(2n+1) {
            clear: left; }
          header[role="main-header"] nav ul li a {
            padding: .5em 1em; } }
  header[role="main-header"] nav a {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background: none;
    font-weight: bold;
    font-family: "Inconsolata", "Menlo", mono-spaced;
    letter-spacing: 2px;
    color: white;
    -webkit-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    header[role="main-header"] nav a:hover {
      color: #e6e6e6;
      -webkit-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -webkit-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      text-shadow: 0 0 1px rgba(230, 230, 230, 0.1); }

section {
  position: relative;
  overflow: hidden; }

article {
  display: block;
  margin: 3em 0;
  width: 100%;
  position: relative; }
  @media screen and (max-width: 50.0625em) {
    article {
      padding: 0 .5em; } }
  @media screen and (max-width: 480px) {
    article {
      padding: 0 1em; } }

h1.landing-header {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  display: block;
  width: 100%; }

.block-1 {
  min-height: 400px;
  max-height: 1000px;
  position: relative; }
  @media screen and (max-width: 480px) {
    .block-1 {
      display: none; } }
  .block-1 article {
    margin: 0 auto; }
  .block-1 .img-fill, .block-1 .left, .block-1 .img-second, .block-1 .img-third {
    vertical-align: middle;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    opacity: .9; }
  .block-1 .left {
    float: left;
    width: 32.5%;
    height: 90vh;
    background-image: url("/images/bg-full.jpg");
    border-right: 4px solid white; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .block-1 .left {
        background-image: url("_2x.jpg");
        background-size: cover; } }
  .block-1 .right {
    float: left;
    width: 67.5%;
    height: 90vh; }
  .block-1 .img-second {
    background-image: url("/images/bg-1-half.jpg");
    height: 45vh;
    border-left: 4px solid white;
    border-bottom: 4px solid white; }
  .block-1 .img-third {
    background-image: url("/images/bg-2-half.jpg");
    height: 45vh;
    border-left: 4px solid white;
    border-top: 4px solid white; }

.block-2 {
  font-weight: 500; }
  .block-2 p {
    font-size: 20px;
    line-height: 28px; }

.block-3 table {
  margin-top: 1.5em;
  float: left;
  display: block;
  margin-right: 1.65746%;
  width: 100%;
  display: block;
  border-collapse: collapse; }
  .block-3 table:last-child {
    margin-right: 0; }
  .block-3 table tr {
    width: 100%; }
  .block-3 table .col1, .block-3 table .col2, .block-3 table .col3, .block-3 table .col4 {
    width: 25vw;
    position: relative; }
  .block-3 table td {
    font-size: 16px;
    font-weight: bold;
    font-family: "Inconsolata", "Menlo", mono-spaced;
    vertical-align: middle;
    position: relative;
    width: 25%;
    border: 2px solid white;
    margin: 0 0;
    height: 3rem;
    padding: 0 2rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center; }

.listing ul {
  margin: 3rem auto; }
  .listing ul li {
    margin-bottom: 1.5em; }
    .listing ul li:last-of-type {
      margin-bottom: 0; }
    .listing ul li a {
      color: white;
      -webkit-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -webkit-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      opacity: 1; }
      .listing ul li a:hover {
        color: #e6e6e6;
        -webkit-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -moz-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -webkit-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -moz-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: 0 0 1px rgba(230, 230, 230, 0.1); }

.post {
  color: #040708;
  background: white; }
  .post header[role="main-header"] {
    border-bottom: 2px solid #040708; }
    .post header[role="main-header"] nav a {
      color: #040708;
      -webkit-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -webkit-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
      .post header[role="main-header"] nav a:hover {
        color: black;
        -webkit-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -moz-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -webkit-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -moz-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }
  .post footer {
    color: #040708; }
    .post footer a {
      color: #040708;
      -webkit-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      background: -webkit-linear-gradient(#040708, #040708), -webkit-linear-gradient(#040708, #040708), -webkit-linear-gradient(#040708, #040708);
      background-size: 0.04em 1px, 0.04em 1px, 1px 1px;
      background-repeat: no-repeat, no-repeat, repeat-x;
      text-shadow: 0.04em 0 white, -0.04em 0 white, 0 0.04em white, 0 -0.06em white, 0.08em 0 white, -0.08em 0 white, 0.08em 0 white, -0.1em 0 white, 0.12em 0 white, -0.12em 0 white, 0.14em 0 white, -0.14em 0 white;
      background-position-y: 96%, 96%, 96%;
      background-position-x: 0%, 100%, 0%; }
      .post footer a:hover {
        color: black;
        -webkit-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -moz-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -webkit-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -moz-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .post hr {
    background: #040708; }
  .post article {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 87.29282%;
    margin-left: 6.35359%; }
    .post article:last-child {
      margin-right: 0; }
  .post p {
    font-family: "Inconsolata", "Menlo", mono-spaced; }
  .post a {
    color: #040708;
    -webkit-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    background: -webkit-linear-gradient(#040708, #040708), -webkit-linear-gradient(#040708, #040708), -webkit-linear-gradient(#040708, #040708);
    background-size: 0.04em 1px, 0.04em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.04em 0 white, -0.04em 0 white, 0 0.04em white, 0 -0.06em white, 0.08em 0 white, -0.08em 0 white, 0.08em 0 white, -0.1em 0 white, 0.12em 0 white, -0.12em 0 white, 0.14em 0 white, -0.14em 0 white;
    background-position-y: 96%, 96%, 96%;
    background-position-x: 0%, 100%, 0%; }
    .post a:hover {
      color: black;
      -webkit-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -webkit-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: text-shadow 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.contact {
  /* Post List */ }
  .contact .list-head, .contact p:first-child, .contact label {
    margin-top: 6.5em;
    padding-bottom: .5em;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0; }
    @media screen and (max-width: 480px) {
      .contact .list-head + hr, .contact p:first-child + hr, .contact label + hr {
        display: block; } }
  .contact p {
    margin-top: 0; }
    .contact p:first-child {
      margin-top: 0; }
  .contact label {
    font-family: "Inconsolata", "Menlo", mono-spaced;
    margin-top: 0;
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 100%;
    border-bottom: 1px solid white; }
    .contact label:last-child {
      margin-right: 0; }
  .contact input {
    font-size: 16px;
    font-family: "Inconsolata", "Menlo", mono-spaced;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 1.5em;
    margin-top: 0;
    background: rgba(255, 255, 255, 0.25);
    -webkit-transition: all, 0.3s, ease;
    -moz-transition: all, 0.3s, ease;
    transition: all, 0.3s, ease; }
    .contact input::-webkit-input-placeholder {
      color: white; }
    .contact input::-moz-placeholder {
      color: white; }
    .contact input:-moz-placeholder {
      color: white; }
    .contact input:-ms-input-placeholder {
      color: white; }
    .contact input:active, .contact input:focus {
      background: white;
      -webkit-transition: all, 0.3s, ease;
      -moz-transition: all, 0.3s, ease;
      transition: all, 0.3s, ease; }
      .contact input:active::-webkit-input-placeholder, .contact input:focus::-webkit-input-placeholder {
        color: #040708; }
      .contact input:active::-moz-placeholder, .contact input:focus::-moz-placeholder {
        color: #040708; }
      .contact input:active:-moz-placeholder, .contact input:focus:-moz-placeholder {
        color: #040708; }
      .contact input:active:-ms-input-placeholder, .contact input:focus:-ms-input-placeholder {
        color: #040708; }
  .contact input {
    padding: .5em 1em;
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 100%; }
    .contact input:last-child {
      margin-right: 0; }
  .contact button {
    font-size: 16px;
    font-weight: normal;
    background: none;
    color: white;
    outline: none;
    box-shadow: none;
    border: 1px solid white;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    padding: .5em 1em; }
  .contact textarea {
    padding: .5em 1em;
    resize: none;
    font-size: 16px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.25); }
    .contact textarea::-webkit-input-placeholder {
      color: white; }
    .contact textarea::-moz-placeholder {
      color: white; }
    .contact textarea:-moz-placeholder {
      color: white; }
    .contact textarea:-ms-input-placeholder {
      color: white; }
    .contact textarea:active, .contact textarea:focus {
      border: none;
      outline: none;
      background: white; }
      .contact textarea:active::-webkit-input-placeholder, .contact textarea:focus::-webkit-input-placeholder {
        color: #040708; }
      .contact textarea:active::-moz-placeholder, .contact textarea:focus::-moz-placeholder {
        color: #040708; }
      .contact textarea:active:-moz-placeholder, .contact textarea:focus:-moz-placeholder {
        color: #040708; }
      .contact textarea:active:-ms-input-placeholder, .contact textarea:focus:-ms-input-placeholder {
        color: #040708; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  font-family: "GT Walsheim", Karla, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  width: 100%;
  height: 10rem;
  color: white; }
  footer small {
    color: white;
    opacity: .6; }
