@import "neat/neat-helpers";

// change the grid settings
$column: 80px;
$gutter: 12px;
$grid-columns: 8;
$max-width: 800px;

// define your breakpoints
$large: new-breakpoint(min-width 1120px 12);
$default: new-breakpoint(max-width em(801) 8);
$small: new-breakpoint(max-width 480px 6);