// variables
/////////////////////////////////////////

// type
$sans-serif: "GT Walsheim", Karla, "Helvetica Neue", Arial, sans-serif;
$mono: "Inconsolata", "Menlo", mono-spaced;
$head: $sans-serif;
$body: $sans-serif;
$header-font-family: $sans-serif;
$base-font-family: $sans-serif;
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;

// type scale
$fs1: 61px;
$fs2: 49px;
$fs3: 39px;
$fs4: 31px;
$fs5: 25px;
$fs6: 20px;
$fs7: 16px;

// base colors
$purple: #A800C1;


// white
$white: #ffffff;

// 50 shades of beige
$beige: #CCBFB4;
$light-beige: lighten($beige, 5%);
$light-beige: darken($beige, 5%);

// grays
$light-gray: #e5e5e5;
$medium-gray: #cbcbcb;
$darker-gray: rgba(0,0,0,.3);
$warm-gray: #efefef;

// blacks
$light-black: #383431;

// body color
$base-body-color: $beige;

// font colors
$base-font-color: $white;
$base-accent-color: $purple;

// link colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 10);

// border color
$base-border-color: $white;